.red-sidebar-area {
	.widget{
		margin-bottom: 50px;
		.red-menu-item,
		.wc-layered-nav-term,
		.chosen{
			a{
				padding: 0;
				color: $BodyColor;
			  	position: relative;
			  @include transform(translateX(0));
			  > span{
				display: inline-block;
			  }
				&:hover{
					color: $primary_color;
				}
			}
			&:hover,
			&.current-menu-item{
				a{

				}
			}
		}
		.widgettitle{
			margin-bottom: 13px;
			text-transform: uppercase;
			span{
				position: relative;
				&:after{
					content: '';
					bottom: 0px;
					left: 0;
					width: 100%;
					height: 1px;
					background: #474747;
					position: absolute;
				}
			}
		}
		> ul,
		.menu,
		.woocommerce-mini-cart{
			background: $white;
		}

		.woocommerce-mini-cart__total{
			margin-top: 30px;
		}

	}
}