.single-bordered{
  .red-content-area,
  .red-sidebar-area{
	@media (max-width: 767px){
	  padding-left: 0;
	  padding-right: 0;
	}

  }
}
.single-post{
  .layout-center{
	.red-post-header,
	.red-single-content,
	.red-post-footer{
	  padding-left: 100px ;
	  padding-right: 100px;
	}
  }
}
.red-single{

  background: #fff;
  &.post_format-post-format-quote,
  &.post_format-post-format-link{
	margin-top: -4px;
  }
  .red-post-header{
	padding-bottom: 38px;
	  position: relative;
	  .red-before-title{
		  .red-meta{
			  display: inline-block !important;
			  top: -121px;
			  left: 40px;
			  position: absolute;
			  z-index: 2;
			  color: #fff;
			  margin: 0;
			  @media (max-width:767px){
				left: 10px;
				top: -101px;
			  }
			  .red-date{
				  background: rgba(#000,0.9);
				  text-align: center;
				  padding: 0 20px;
				  padding-top: 29px;
				  min-width: 107px;
				  padding-bottom: 18px;
				  line-height: 18px;
				@media (max-width:767px){
					padding: 0 10px;
					padding-top: 19px;
					min-width: 87px;
					padding-bottom: 8px;
				  }
				
				  span{
					  width: 100%;
					  display: block;

					  .day{
						  font-size: 30px;
					  }
					  .month-year{
						  text-transform: uppercase;
						  font-size: 13px;
						  padding-top: 7px;
					  }
				  }
			  }
			  .red-posted-in{
				  background: $primary_color;
				  padding: 1px 20px;
				  text-align: center;
				  min-width: 107px;
				  text-transform: uppercase;
				  font-weight: 700;
				  a{
					  color: #fff;
					  font-size: 13px;
					  display: none;
					  &:first-child{
						  display: inline-block;
					  }
				  }
			  }

		  }
	  }

	.red-heading{
	  padding-bottom: 10px;
	  padding-top: 40px;
	  @media (max-width: 767px) {
		font-size: 23px;
		line-height: 34px;
	  }
	}
	.red-before-title{
	  margin-bottom: 8px;
	}
	.red-after-title{
	  margin-top: -1px;
	  position: relative;

	}
	.red-header{
	  padding-bottom: 20px;
	}
  }
  .red-after-title{
	span.meta-icon {
	  font-size: 12px;
	  color: #888;
	  margin-left: 2px;
	  margin-right: -1px;
	}
	.icon-like{
	  padding-right: 4px;
	}
	.red-meta{
	  margin: 0 -30px;
	  .author-url{
	  		color: $primary_color;
	  		font-weight: 700;
	  		padding-left: 10px;
	  	
	  }
	  @media (max-width: 370px) {
		.red-posted-by{
		  width: 100%;
		}
	  }
	  > div{
	  	position: relative;
	  	&:after{
	  		content: '';
	  		height: 10px;
	  		width: 1px;
	  		background: #acacac;
	  		position: absolute;
	  		right: 0;
	  		top: 9px;
	  	}
	  	&:last-child{
	  		border-right: none;
	  		&:after{
	  			display: none;
	  		}
	  	}
	  }
	  > * {
		padding: 0 30px;
		position: relative;
		z-index: 1;
		font-size: 16px;
		color: $MetaColor;
	  }
	  a{
		color: $MetaColor;
		font-weight: 400;
		&:hover{
		  color: $MetaColorHover;
		}
	  }
	  .avatar{
		margin-right: 10px;
		[dir="rtl"] & {
		  margin-right: 0;
		  margin-left: 10px;
		}
	  }
	}
  }
	.red-social {
		margin: -2.5px;
		padding-left: 5px;
		a{
			margin: 5px 2.5px;
		}
	}
	.red-social.outline a {
		border: 1px solid #d8d8d8;
	}
}
.red-single-content{
	.container{
		padding: 0;
	}
	p + {
		h1, h2, h3, h4, h6{
			padding-top: 8px;
		}
	  h5{
		padding-top: 10px;
		margin-bottom: 16px;
	  }
	}
	blockquote{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	ul, ol {
		+ p{
			margin-top: 30px;
		}
	}
  h4{
	color: $BodyColor;
  }
}
.gallery + h5{
  margin-bottom: 17px;
}
.red-tagged-in{
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #fff;
  padding-right: 20px;
	font-weight: 700;
	span{
		color: $primary_color;
		&.fas{
			padding-right: 1px;
		}
	}
  a{
	color: #fff;
	&:hover{
	  color: $primary_color;
	}
  }
}
.red-shares{
  padding-left: 20px;
}
.single-post{
  @media (min-width: 1300px){
  }
  .red-main{
	padding-bottom: 120px;
	@media (max-width: 767px) {
	  padding-top: 70px;
	  padding-bottom: 70px;
	}
  }


}
