$separator_ltr: '-';
$separator_rtl: '-';
.breadcrumb{
	font-weight:300;
	color: #666;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
	background: none;
	padding: 0;
	margin: 0;
	padding-top: 2px;

	.separator{
		padding: 0 10px;
		&:empty{
			@include transform(translateY(4px));
			&:before{
				content: $separator_ltr;
				[dir='rtl'] &{
					content: $separator_rtl;
				}
			}
		}
	}
  .item.title{
	color: inherit;
  }
}

.red-breadcrumb{
	@media (max-width: $screen-md-max){
		padding-top: 20px;
	}
}