.red-pagetitle.ptitle-layout-1{
  padding-top: 150px;
  padding-bottom: 159px;
  text-align: center;
  @media (max-width: 767px) {
  padding-top: 150px;
  }
  .page-title{
    font-weight: 900;
    line-height: 71px;
    text-transform: uppercase;
    color:$accent_color;
    @media (max-width: 767px) {
     font-size: 25px;
      line-height: 35px;
    }
  }
  .title-wrap{
  
    @media (max-width: 767px) {
     
    }
  }
}