// Single image
.wpb_single_image.wpb_content_element{
	.vc-zoom-wrapper,
	.prettyphoto{
		cursor: zoom-in;
	}
	.vc_figure-caption{
		margin: 0;
	    padding: 40px 20px 46px;
	    font-size: 18px;
	    line-height: 23px;
	    font-style: normal;
	    text-align: center;
	}
}