.red-instagram{
  &:not(.layout-2) .user{
    min-width: 120px;
    min-height: 120px;
    line-height: 120px;
    background: $primary_color;
    border-radius: 50%;
    font-family: $ExtraFont;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: inherit;
    position: absolute;
    display: inline-block;
    text-align: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    @include transform(translate(-50%,-50%));
    @media (max-width: 991px){
      display: none;
    }
    a{
      color: inherit;

    }
  }
  &:not(.layout-2){
    .instagram-item {

      @media (max-width: 767px) {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;

      }
    }
  }
  .instagram-item{
    .img-wrap{
      @include transition();
      position: relative;
      overflow: hidden;
      img{
        @include transition();
      }
    }
    .overlay{
      background: rgba(17, 17, 17, 0.7);
      opacity: 0;
      > a{
        color: $primary_color;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
        i{
          font-size: 25px;
        }
      }
    }
    &:hover{

      .overlay {
        opacity: 1;
      }
    }
  }
&.layout-2{

 .user{
   position: relative;
   margin-top: 18px;
   display: inline-block;
   > a{
     span{
       color: $primary_color;
     }
     &:after{
       background: #D8D8D8;
       width: 100%;
       height: 1px;
       content: '';
       position: absolute;
       bottom: 0;
       left: 0;
     }
     &:hover{
       color: $primary_color;
       &:after{
       background-color: $primary_color;
     }
     }
   }
 }
}
  .grid-gutters-15{
    .instagram-item .overlay {
      top: 7.5px;
      right: 7.5px;
      left: 7.5px;
      bottom: 7.5px;
      a:hover{
        color: $primary_color;
      }
    }
  }
}