.red-instagram{
 .user{
background: #000;
   color: #fff;
   text-align: center;
   font-size: 16px;
   font-weight: 700;
   a{
     color: inherit;
     &:hover{
      color: $primary_color;
     }
   }
  }
  &:not(.layout-2){
    .instagram-item {

      @media (max-width: 767px) {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;

      }
    }
  }
  .instagram-item{
    .img-wrap{
      @include transition();
      position: relative;
      overflow: hidden;
      img{
        @include transition();
      }
    }
    .overlay{
      background: rgba(17, 17, 17, 0.7);
      opacity: 0;
      > a{
        color: $primary_color;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
        i{
          font-size: 25px;
        }
      }
    }
    &:hover{

      .overlay {
        opacity: 1;
      }
    }
  }
&.layout-2{

 .user{
   position: relative;
   margin-top: 18px;
   display: inline-block;
   > a{
     span{
       color: $primary_color;
     }
     &:after{
       background: #D8D8D8;
       width: 100%;
       height: 1px;
       content: '';
       position: absolute;
       bottom: 0;
       left: 0;
     }
     &:hover{
       color: $primary_color;
       &:after{
       background-color: $primary_color;
     }
     }
   }
 }
}
  .grid-gutters-2{
    .instagram-item .overlay {
      top: 1px;
      right: 1px;
      left: 1px;
      bottom: 1px;
      a:hover{
        color: $primary_color;
      }
    }
  }
  .grid-gutters-5{
    .instagram-item .overlay {
      top: 2.5px;
      right: 2.5px;
      left: 2.5px;
      bottom: 2.5px;
      a:hover{
        color: $primary_color;
      }
    }
  }
  .grid-gutters-10{
    .instagram-item .overlay {
      top: 5px;
      right: 5px;
      left: 5px;
      bottom: 5px;
      a:hover{
        color: $primary_color;
      }
    }
  }
  .grid-gutters-15{
    .instagram-item .overlay {
      top: 7.5px;
      right: 7.5px;
      left: 7.5px;
      bottom: 7.5px;
      a:hover{
        color: $primary_color;
      }
    }
  }
  .grid-gutters-20{
    .instagram-item .overlay {
      top: 10px;
      right: 10px;
      left: 10px;
      bottom: 10px;
      a:hover{
        color: $primary_color;
      }
    }
  }
  .grid-gutters-30{
    .instagram-item .overlay {
      top: 15px;
      right: 15px;
      left: 15px;
      bottom: 15px;
      a:hover{
        color: $primary_color;
      }
    }
  }
}