.red-portfolios{
	margin: 0;
	.post-image{
		height: 480px;
		@media (max-width: 767px){
			height: 300px;
		}
		@media (min-width: 768px) and (max-width: 1200px){
			height: 300px;
		}
		@media (min-width: 1201px) and (max-width: 1600px){
			height: 350px;
		}
	}
	.layout-item-1,
	.layout-item-2{
		.red-featured{
			overflow: hidden;
			.post-image{
				@include transform(scale(1));
				@include transition();
			}
		}
		.content-right{
			display: none !important;
		}
		&:hover{
			.red-featured{
				.post-image{
					@include transform(scale(1.04));
				}
			}
		}
	}
	.red-blog-item{
		padding: 0;
		.content-right{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			text-align: center;
			.content-main {
				position: relative;
				flex: 0 0 100%;
				max-width: 100%;
				color: #fff;
				padding-bottom: 6px;
				.subtitle{
					color: $primary_color;
					font-family: $ExtraFont6;
					font-size: 30px;
					line-height: 43px;
					font-style: normal;
					font-weight: normal;
					@media (max-width: 767px){
						font-size: 25px;
					}
					@media (min-width: 992px) and (max-width: 1200px){
						font-size: 20px;
					}
				}
				h3{
					color: #fff;
					font-size: 40px;
					line-height: 60px;
					margin-top: -8px;
					margin-bottom: 9px;
					@media (max-width: 767px){
						font-size: 35px;
					}
					@media (min-width: 992px) and (max-width: 1200px){
						font-size: 25px;
						line-height: 40px;
					}
					@media (min-width: 1201px) and (max-width: 1600px){
						font-size: 32px;
						line-height: 52px;
					}
				}
				i{
					font-size: 20px;

				}
				.portfolio-footer{
					margin-top: 24px;
				}
				.red-btn{
					letter-spacing: 2px;
					padding: 12px 36px;
					@media (min-width: 992px) and (max-width: 1200px){
						padding: 5px 20px;
					}
					&:hover{
						background: #fff;
						color: $accent_color;
					}
				}
			}
		}
		&.layout-item-3{
			.content-right{
				background: rgba(17, 17, 17, 0.7);
			}
		}
		&.layout-item-4{
			.content-right{
				background: $primary_color;
				.content-main {
					.subtitle{
						color: #fff;
					}
					.red-btn{
						background: #fff;
						color: $accent_color;
						&:hover{
							background: $accent_color;
							color: #fff;
						}
					}
				}
			}
		}
		&.layout-item-5{
			.content-right{
				background: rgba($primary_color,0.7);
				.content-main {
					.subtitle{
						display: none;
					}
					i{
						display: none;
					}
					h3{
						margin: 0;
					}
					.red-btn{
						display: none;
					}
				}
			}
		}
		&.layout-item-6{
			.content-right{
				background: rgba(0, 0, 0, 0.7);
				.content-main {
					.red-btn{
						background: #fff;
						color: $accent_color;
						&:hover{
							background: $primary_color;
							color: #fff;
						}
					}
				}
			}
		}
	}
}