.red-video-wrapper{
	.small-heading{
		color: $BodyColor;
		position: relative;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	.red-video-desc {
		margin-top: 30px;
	}
	.red-button-wrapper{
		margin-top: 25px;
	}
	.red-playvideo{
		position: absolute;
	    top: 50%;
	    z-index: 1;
	    left: 50%;
	    transform: translate(calc(-50% + 0.5px),calc(-50% + 0.5px));
	}
	@media (max-width: $screen-md-max) {
	    .red-playvideo{
	    	left: 50%;
	    }
	}
	.play-btn-text{
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 0.5px;
		padding-left: 15px;
		[dir="rtl"] &{
			padding-left: 0;
			padding-right: 15px;
		}
	}
	.red-button-wrapper{
		margin-top: 25px;
		margin-left: -10px;
		margin-right: -10px;
		> * {
			margin: 10px;
		}
	}
}
.red-video-popup-wrap{
	position: relative;
}
.red-video-popup{
	max-width: 1200px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.red-video-1{
	.small-heading{
		&:after{
			content: '';
			display: block;
			max-width: 72px;
			border-bottom: 2px solid $accent_color;
		}
	}
	@media (max-width: $screen-md-max) {
		.red-video{
			margin-top: 35px;
		}
	}
}

.red-video-2{
	.red-playvideo{
		display: none;
	}
	@media (max-width: $screen-md-max) {
		.red-video{
			margin-bottom: 35px;
		}
	}
}
.red-video-3{
	.red-playvideo{
		left: 50%;
	}
	.red-wave-wrap{
		display: none;
		visibility: hidden;
	}
	.red-video{
		padding: 0;
		position: relative;
		@media (max-width: $screen-md-max){
			margin-top: 30px;
		}
	}
	.red-video-popup-wrap{
		position: static;
		padding: 10px;
		&:before,
		&:after{
			//width: 34%;
			//height: 34%;
			width: 208px;
			height: 208px;
			content: '';
			display: block;
			background: $accent_color;
			position: absolute;
		}
		&:before{
			top: 0;
			left: 0;
		}
		&:after{
			bottom: 0;
			right: 0;
		}
		img{
			position: relative;
			z-index: 1;
			width: 100%;
		}
	}
}
.red-video-4{
	text-align: center;
	.red-video-info{
		order: 2;
	}
	.red-video-info,
	.red-video{
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.red-video {
		margin-bottom: 45px;
	}
	.red-playvideo{
		left: 50%;
	}
	.red-playvideo:not(.has-poster){
		position: relative;
		top: unset;
		left: unset;
		right: unset;
    	@include transform(translate(0,0));
	}
	.small-heading{
		font-size: 18px;
		color: $accent_color;
		text-transform: unset;
	}
	.large-heading{
		font-size: 48px;
		line-height: 57px;
	}
}