/* Newsletter */
.widget .tnp{
	position: relative;
	form{
		position: relative;
		margin-top: 24px;
		&:after,
		input.tnp-submit{
			[dir="rtl"] &{
				right: auto;
				left: 0;
			}
		}
		input.tnp-submit{
			font-size: 0;
			z-index: 2;
			padding: 0;
			width: 100%;
			background: $primary_color;
			color: #fff;
		}
		input.tnp-email{
			height: 70px;
			line-height: 70px;
			background: #141414;
			color: $MetaColor;
			padding: 0 56px 0 15px;
			border: 0;
			@include box-shadow(0 0 15px rgba(0,0,0,0.1));
			text-align: center;
			[dir="rtl"] &{
				padding: 0 15px 0 56px;
			}
			@include placeholder() {
				color: #999;
			}
		}
	}
}