/* Newsletter */
.widget .tnp{
	position: relative;
	form{
		position: relative;
		&:after,
		input.tnp-submit{
			[dir="rtl"] &{
				right: auto;
				left: 0;
			}
		}
		input.tnp-submit{
			font-size: 0;
			z-index: 2;
			padding: 0;
			min-width: auto;
		}
		input.tnp-email{
			height: 56px;
			line-height: 56px;
			background: $white;
			color: $MetaColor;
			padding: 0 56px 0 15px;
			border: 0;
			@include box-shadow(0 0 15px rgba(0,0,0,0.1));
			[dir="rtl"] &{
				padding: 0 15px 0 56px;
			}
		}
	}
}