/* CMS Recent Post */
.widget_sunix_recent_posts{
	.posts-list{
		overflow: hidden;
		padding-top: 10px;
		.post-list-entry{
			margin-bottom: 20px;
			align-items: center;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.red-heading{
			margin: 0 0 4px;
			font-size: 18px;
			line-height: 20px;
			font-weight: 600;
			@media (min-width: 768px) and (max-width:1024px){
				margin: -5px 0 4px;
				font-size: 13px;
				line-height: 15px;
			}
		}
		.red-meta{
			font-size: $BodyFontSizeS;
			.red-posted-by{
				font-size: 0;
				a{
					font-size: 16px;
					line-height: 25px;
				}
			}
		}
		.red-featured-inner{
			margin-bottom: 0;
			background: $primary_color;
			padding: 13px 10px;
			min-width: 61px;
			text-align: center;
			> span{
				width: 100%;
				display: block;
				color: #fff;
				line-height: 1;
				&.day{
					font-size: 24px;
					font-weight: 700;

				}
				&.month{
					text-transform: uppercase;
					font-size: 15px;
					font-weight: 400;
					padding-top: 3px;
				}
			}
		}

		&.layout-1,
		&.layout-3{

		}
		&.layout-2{
			.post-list-entry{
				padding: 20px 0;
			}
		}
		&.layout-3{
			.post-list-entry:hover{
				@include box-shadow($BoxShadowHover);
			}
		}
	}
}
