/* tags cloud */
.tagcloud {
  margin-top: 1px;
	> a{
	  color: #777;
	  display: inline-block;
	  font-size: 16px !important;
	  line-height: 30px;
	  position: relative;
	  padding-right: 6px;
	  &:after{
		content: ',';

	  }
		&:hover{
		  	color: $BodyColor;

		}
	  &:last-child{

		&:after{
		  content: '';
		}
	  }
	}
}