#red-header-top {
	.menu{
		float: left;
	  @media (max-width:767px){
		width: 100%;
		text-align: center;
	  }
		li{
			list-style: none;
			display: inline-block;
		}
		&.add-divider{
			li{
				border-right: 1px solid #e4e4e4;
				&:last-child{
					border-right: 0;
				}
			}
		}
	}
}