@import 'layout1';
@import 'menu';
@import 'social';
@import 'language';

#red-header-top {
	color: #777;
  font-size: 13px;
  line-height: 26px;
  font-weight: 500;
  padding: 16px 0 12px;
  .contact{
	list-style: none;
	margin: 0 -20px 0 -17px;
	@media(max-width: 991px ) {
	  display: none;
	}
	@media (min-width: 992px) and (max-width:1200px){
	  margin: 0 -5px;
	}
	li{
	  display: inline-block;
	  border-right: #D8D8D8 solid 1px;
	  padding: 0 21px 0 17px;
	  @media (min-width: 992px) and (max-width:1200px){
		padding: 0 5px;
	  }
	  &:last-child{
		border-right: none;
	  }
	}
  }
  .wpb_raw_html{
	display: inline-block;
	margin-top: -3px;
	@media (max-width: 991px){
	  float: left;
	  margin-left: -15px;

	}
  }
.widget-woocommerce-currency-switcher{
        .woocommerce-currency-switcher{
        	border: 0;
		    padding: 0;
		    background: transparent;
		    color: inherit;
		    font-size: inherit;
		    height: 40px;
		    line-height: 40px;
        }
        .chosen-container{
        	min-width: 0;
		    font-size: inherit;
		    color: inherit;
		    font-weight: 500;
        }
        .chosen-container-single .chosen-single{
        	border: 0;
		    background-image: none;
		    box-shadow: none;
		    line-height: 40px;
		    display: block;
		    height: 40px;
		    color: inherit;
		    position: relative;
		    padding: 0 8px 0 8px;
		    @include transition();
	    	&:hover{
	    		color: $link_color_hover;
	    	}
		    span{
	    	    margin-right: 10px;
		    }
		    div{
		    	display: none;
		    }
		    &:after{
				content: "\f107";
				font-family: FontAwesome;
			    margin-left: 5px;
				font-weight: bold;
				line-height: 1;
				display: inline-block;
			    position: absolute;
			    right: 0;
			    top: 50%;
			    margin-top: -6px;
			}
        }
        .chosen-container-single .chosen-drop{
	    	border: 0;
			margin-top: 2px;
			min-width: 100px;
		    padding: 14px 10px;
    		border-radius: 0;
    		@include transition();
    		@include box-shadow(0, 9px, 32px, rgba(19,18,21,0.11));
	    }
	    .chosen-container .chosen-results{
	    	margin: 0;
	    	padding: 0;
	    }
        .chosen-container .chosen-results li.active-result{
    	    background: transparent;
    		color: #303030;
    		@include transition();
    		&:hover{
	    		color: $link_color_hover;
	    	}
        }
    }
}