$FF_placeholder_color: #777;
$FF_Background: $white;
$FF_BorderW: 1px;
$FF_BorderStyle: solid;
$FF_BorderColor: $MainBorderColor;
$FF_BorderColorHover: $accent_color;
$FF_Border: $FF_BorderW $FF_BorderStyle $FF_BorderColor;
$FF_BorderRadius : 0;
$FF_Spacing: 11px 25px;