.red-header.header-layout-4 {
	font-family: $ExtraFont3;
	@media (min-width: 1500px) {
		.container {
			max-width: 1500px;
		}
	}

	.nav-extra {
		padding-left: 30px;
	}
	.red-menu > li:last-child > a > span:after {
		display: none;
	}
	.btn-nav-mobile:hover{
		&:before,
		&:after,
		span{
			background: $primary_color;
		}

	}
	#red-navigation > * {
		display: inline-block;
		@media (max-width: 1199px) {
			width: 100%;
		}
	}
	@media (max-width: 1199px) {
		#red-navigation{
			left: 15px;
		}
	}

	.red-logo {
		padding: 0;
		min-width: 273px;
		text-align: center;
		@media (max-width: 1199px) {
			display: none !important;
		}
		&.red-logo-mobile{
			@media (max-width: 1199px) {
				display: block !important;
				text-align: left;
				padding: 15px;
				min-width: auto;
			}
			@media (min-width: 1200px) {
				display: none !important;
			}
		}
	}

	.red-menu > li:last-child {
		padding-right: 22.5px;
	}

	@media (min-width: 1200px){

		.red-header-menu {
			margin: 0 -22.5px;
			> li {
				padding: 0 22.5px;
			}
		}
	}
	.red-menu > li > a{
		font-family: $ExtraFont3;
	}
	.red-menu > li > a > span:before {
		content: '';
		width: 100%;
		height: 1px;
		background: #fff;
		border-radius: 0%;
		position: absolute;
		bottom: 0;
		left:0;
		top: auto;
		z-index: -1;
		transition: all 300ms ease-in-out;
		transform: scale(0);
	}
	.red-header-menu > li:hover > a > span:before, .red-header-menu > li.current_page_item > a > span:before,
	.red-header-menu > li.current-menu-item > a > span:before, .red-header-menu > li.current_page_ancestor > a > span:before, .red-header-menu > li.current-menu-ancestor > a > span:before {
		transform: scale(1);
	}
	.red-menu > li:last-child > a > span {
		padding-right: 0;
	}
	.header-social{
		.header-icon{
			i{
				font-size: 16px;
			}
			padding-right: 28px;
			&:last-child{
				padding-right: 0;
			}
			&:hover{
				color: $primary_color;
			}
		}
	}
	.header-ontop .btn-nav-mobile:hover{
		color: $primary_color;
	}
}