.red-footer-area{
  .red-wp-menu .menu{
		li{
		padding: 0 16.5px;
			display: inline-block;
		  @media (max-width: 767px){
			padding: 0 12px;
		  }
		  a{
			font-family: $ExtraFont;
			font-style: normal;
			font-weight: 600;
			font-size: 13px;
			line-height: 23px;
			color: inherit;
			text-transform: uppercase;
			&:hover{
			  color: $primary_color;
			}

		  }
		}
	}
}