.mobile-parent-nav-menu-item{
	display: none;
}

@media( max-width: $screen-lg-max ) {
    .red-navigation-wrap{
        position: static;
    }
    #red-navigation {
        background-color: $dropdown_bg;
        box-shadow: 0px 1px 4px rgba( 0, 0, 0, 0.25 );
        position: absolute;
        z-index: 99;
        padding: $grid-gutter-width / 2;
        top: 100%;
        bottom: auto;
        left: 0;
        right: 0;
        overflow-x: hidden;
        display: none;
    }
    .ef5-submenu{
        font-size: $dropdown_font_size;
        font-weight: $dropdown_font_weight;
        color: $dropdown_regular;
        display: none;
        padding-left: 10px;
        .menu-item{
            border-bottom: $dropdown_border;
            @include transition( border-color 300ms );
            &:last-child{
                border-bottom: 0;
            }

            &:hover {
                border-color: $dropdown_color_hover;
                > a {
                    color: $dropdown_color_hover;
                }
            }
            &.current_page_item,
            &.current-menu-item,
            &.current_page_ancestor,
            &.current-menu-ancestor {
                border-color: $dropdown_color_active;
                > a {
                    color: $dropdown_color_active;
                }
            }
        }
        a{
            font-size: $dropdown_font_size;
            font-weight: $dropdown_font_weight;
            color: $dropdown_regular;
            display: inline-block;
            padding: 5px 0;
        }
    }
    .red-menu{
        list-style: none;
        margin: 0 auto;
        padding: 0 15px;
        @extend .container;

        /* level 1 */
        > li{
            > a{
                font-family: $ExtraFont;
                font-size: $lv1_font_size;
                font-weight: $lv1_font_weight;
                color: $lv2_color;
            }
            &:hover{
                > a{
                    color: $lv2_color_hover;
                }
            }
            &.current_page_item,
            &.current-menu-item,
            &.current_page_ancestor,
            &.current-menu-ancestor{
               > a {
                    color: $lv2_color_active;
                }
            }
        }
        li {
            a {
                color: $lv2_color;
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }

            &:hover,
            &.focus {
                > a{
                    color: $lv2_color_hover;
                }
            }
            &.current_page_item,
            &.current-menu-item,
            &.current_page_ancestor,
            &.current-menu-ancestor{
               > a {
                    color: $lv2_color_active;
                }
            }
        }
    }
    .megamenu{
        .ef5-dropdown-mega {
            > .container{
                padding-left: 0;
                padding-right: 0;
                max-width: unset;
            }
        }
    }
}